/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT
  
----------------------------------------------------------------------------- */

body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background: url('img/bg-alt.gif') bottom left no-repeat;
  background-repeat: no-repeat;
  background-color: rgb(10, 10, 10);
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* -----------------------------------------------------------------------------

  LINKS
  
----------------------------------------------------------------------------- */

a {
  text-decoration: none;
}

/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  min-width: 600px;
  padding: 0 24px;
}

/* -----------------------------------------------------------------------------

  HEADER
  
----------------------------------------------------------------------------- */

.header {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------

  MAIN
  
----------------------------------------------------------------------------- */

.main {
  display: block;
  position: absolute;
  top: 72px;
  right: 48px;
  bottom: 48px;
  left: 48px;
  z-index: 999;
 /* background-color: #333;*/
}

/* -----------------------------------------------------------------------------

  NAVIGATION
  
----------------------------------------------------------------------------- */

.nav {
  position: relative;
  z-index: 9999;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 0 0 24px 24px;
}

.nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 48px;
  height: 48px;
}

.nav-link {
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: -9999px;
}

/* -----------------------------------------------------------------------------

  ICONS
  
----------------------------------------------------------------------------- */

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgb(255, 40, 100);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.icon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

.icon-robo1 {
  background-image: url('img/icons/robo1.svg');
  background-position: 0 0;
}

.icon-robo2 {
  background-image: url('img/icons/robo2.svg');
  background-position: 0 0;
}

.icon-banana {
  background-image: url('img/icons/banana.svg');
  background-position: 0 0;
}

.icon-line-up {
  background-image: url('img/icons/line.svg');
  background-position: 0 0;
}

.icon-evolution {
  background-image: url('img/icons/fire.svg');
  background-position: 0 0;
}

.icon-audio {
  background-image: url('img/icons/audio.svg');
  background-position: 0 0;
}

.icon-audio--mute {
  background-position: -48px 0;
}

/* -----------------------------------------------------------------------------

  DJ
  
----------------------------------------------------------------------------- */

.dj {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 306px;
  height: 317px;
  background: url('img/dj.gif') top left no-repeat;
}

/* -----------------------------------------------------------------------------

  DAFT PUNK AUDIO
  
----------------------------------------------------------------------------- */

.dp-audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* -----------------------------------------------------------------------------

  DANCERS
  
----------------------------------------------------------------------------- */

.dancer {
  display: block;
  position: absolute;
  -webkit-transition: top 1s cubic-bezier(.17,.67,.6,1.62), left 1s cubic-bezier(.17,.67,.6,1.62), bottom 1s cubic-bezier(.17,.67,.6,1.62);
  -moz-transition: top 1s cubic-bezier(.17,.67,.6,1.62), left 1s cubic-bezier(.17,.67,.6,1.62), bottom 1s cubic-bezier(.17,.67,.6,1.62);
  transition: top 1s cubic-bezier(.17,.67,.6,1.62), left 1s cubic-bezier(.17,.67,.6,1.62), bottom 1s cubic-bezier(.17,.67,.6,1.62);
}

.dancer-robo1 {
  width: 180px;
  height: 180px;
  background-image: url('img/dancers/robo1.gif');
}

.dancer-robo2 {
  width: 180px;
  height: 188px;
  background-image: url('img/dancers/robo2.gif');
}

.dancer-banana {
  width: 180px;
  height: 178px;
  background-image: url('img/dancers/banana.gif');
}

.dancer-banana--marcus {
  width: 158px;
  height: 219px;
  background-image: url('img/dancers/marcus.gif');
}

/* -----------------------------------------------------------------------------

  DANCE MOVES!
  
----------------------------------------------------------------------------- */

/**
 * Dance left
 */

.dance-left {
  -webkit-animation: danceLeft 8s 2s linear;
  animation: danceLeft 8s 2s linear infinite;
}

@keyframes danceLeft {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(-200px) translateY(0px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  51% {
    transform: translateX(0px) translateY(0px);
  }
  75% {
    transform: translateX(0px) translateY(-200px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes danceLeft {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
  25% {
    -webkit-transform: translateX(-200px) translateY(0px);
  }
  50% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(-200px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

/**
 * Dance right
 */

.dance-right {
  -webkit-animation: danceRight 8s 2s linear;
  animation: danceRight 8s 2s linear infinite;
}

@keyframes danceRight {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(200px) translateY(0px);
  }
  50% {
    transform: translateX(0px) translateY(0px);
  }
  51% {
    transform: translateX(0px) translateY(0px);
  }
  75% {
    transform: translateX(0px) translateY(200px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes danceRight {
  0% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
  25% {
    -webkit-transform: translateX(200px) translateY(0px);
  }
  50% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(200px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}