/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT
  
----------------------------------------------------------------------------- */

body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background: url('img/bg-alt.gif') bottom left no-repeat;
  background-repeat: no-repeat;
  background-color: rgb(10, 10, 10);
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* -----------------------------------------------------------------------------

  LINKS
  
----------------------------------------------------------------------------- */

a {
  text-decoration: none;
}

/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  min-width: 600px;
  padding: 0 24px;
}

/* -----------------------------------------------------------------------------

  HEADER
  
----------------------------------------------------------------------------- */

.header {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------

  MAIN
  
----------------------------------------------------------------------------- */

.main {
  display: block;
  position: absolute;
  top: 72px;
  right: 48px;
  bottom: 48px;
  left: 48px;
  z-index: 999;
  /*background-color: #333;*/
}

/* -----------------------------------------------------------------------------

  NAVIGATION
  
----------------------------------------------------------------------------- */

.nav {
  position: relative;
  z-index: 9999;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 0 0 24px 24px;
}

.nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 48px;
  height: 48px;
}

.nav-link {
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: -9999px;
}

/* -----------------------------------------------------------------------------

  ICONS
  
----------------------------------------------------------------------------- */

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgb(255, 40, 100);
  border-radius: 100%;
}

.icon-audio {
  background-image: url('img/icons/audio.svg');
  background-position: 0 0;
}

.icon-audio--mute {
  background-position: -48px 0;
}

/* -----------------------------------------------------------------------------

  DJ
  
----------------------------------------------------------------------------- */

.dj {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 306px;
  height: 317px;
  background: url('img/dj.gif') top left no-repeat;
}

/* -----------------------------------------------------------------------------

  DAFT PUNK AUDIO
  
----------------------------------------------------------------------------- */

.dp-audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* -----------------------------------------------------------------------------

  DANCERS
  
----------------------------------------------------------------------------- */

.dancer {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.dancer-michael {
  background-color: #333;
}